@model IEnumerable<AuthDemo.Models.ViewModels.ChiTietGiayVM.IndexVM>
@{
    ViewData["Title"] = "Danh sách sản phẩm chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card mt-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="mb-0"><i class="mdi mdi-cube-outline"></i> Danh sách sản phẩm chi tiết</h4>
        <div>
            <a class="btn btn-primary" href="@Url.Action("Create", "ChiTietGiay", new { area = "Admin" })">
                <i class="mdi mdi-plus"></i> Thêm sản phẩm chi tiết
            </a>
            <a class="btn btn-danger " id="openModalRemoveBtn" data-entity="ChiTietGiay">
                <i class="mdi mdi-trash-can-outline"></i> Sản phẩm đã ngưng bán
            </a>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-hover align-middle mb-0" style="table-layout: auto;">
                <thead class="table-light">
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Kích thước</th>
                        <th>Màu sắc</th>
                        <th>Chất liệu</th>
                        <th>Thương hiệu</th>
                        <th>Danh mục</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.TenGiay</td>
                            <td>@item.TenKichThuoc</td>
                            <td>@item.TenMau</td>
                            <td>@item.TenChatLieu</td>
                            <td>@item.TenThuongHieu</td>
                            <td>@item.TenDanhMuc</td>
                            <td>@item.SoLuong</td>
                            <td>@item.Gia.ToString("N0")</td>
                            <td>
                                <a class="btn btn-warning btn-sm"
                                    href="@Url.Action("Edit", "ChiTietGiay", new { id = item.ShoeDetailID, area = "Admin" })">Sửa</a>
                                <a class="btn btn-danger btn-sm"
                                    href="@Url.Action("Delete", "ChiTietGiay", new { id = item.ShoeDetailID, area = "Admin" })"
                                    onclick="return confirm('Bạn có chắc muốn xóa?');">Ngưng bán</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <form id="editForm" class="ajax">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Sửa sản phẩm chi tiết</h5>
                        <input type="hidden" name="ShoeDetailID" id="ShoeDetailID" />
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="ShoeID" class="form-label">Sản phẩm</label>
                                <input type="text" id="ShoeName" name="ShoeName" class="form-control" disabled>
                                <input type="hidden" id="ShoeID" name="ShoeID" value="">
                            </div>

                            <div class="col-md-6">
                                <label for="SizeID" class="form-label">Kích thước</label>
                                <input type="text" id="SizeName" name="SizeName" class="form-control" disabled>
                                <input type="hidden" id="SizeID" name="SizeID" value="">
                            </div>

                            <div class="col-md-6">
                                <label for="MaterialID" class="form-label">Chất liệu</label>
                                <input type="text" id="MaterialName" name="MaterialName" class="form-control" disabled>
                                <input type="hidden" id="MaterialID" name="MaterialID" value="">
                            </div>

                            <div class="col-md-6">
                                <label for="ColorID" class="form-label">Màu sắc</label>
                                <input type="text" id="ColorName" name="ColorName" class="form-control" disabled>
                                <input type="hidden" id="ColorID" name="ColorID" value="">
                            </div>


                            <div class="col-md-6">
                                <label for="BrandName" class="form-label">Thương hiệu</label>
                                <input type="text" id="BrandName" name="BrandName" class="form-control" disabled
                                    required />
                                <input type="hidden" id="BrandID" name="BrandID" value="" />
                            </div>

                            <div class="col-md-6">
                                <label for="CategoryID" class="form-label">Danh mục</label>
                                <input type="text" id="CategoryName" name="CategoryName" class="form-control" disabled>
                                <input type="hidden" id="CategoryID" name="CategoryID" value="">
                            </div>

                            <div class="col-md-6">
                                <label for="SoLuong" class="form-label">Số lượng</label>
                                <input type="number" id="SoLuong" name="SoLuong" class="form-control"
                                    data-validate="required|minValue:1" data-label="Số lượng" />
                            </div>

                            <div class="col-md-6">
                                <label for="Gia" class="form-label">Giá</label>
                                <input type="number" id="Gia" name="Gia" class="form-control" min="0" step="1000"
                                    data-validate="required|minValue:1000" data-label="Giá" />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success ">
                            <i class="mdi mdi-content-save"></i> Lưu
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="mdi mdi-arrow-left"></i> Quay lại
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Danh sách ngưng bán-->
    <div class="modal fade" id="isRemoveModal" tabindex="-1" aria-labelledby="isRemoveModal">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="isRemoveModal">
                        <i class="mdi mdi-trash-can"></i>Danh sách chi tiết sản phẩm đã ngưng bán
                    </h5>
                    <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">
                            <thread class="table-light">
                                <tr>
                                    <th>Tên giày</th>
                                    <th>Tên kích thước</th>
                                    <th>Tên màu</th>
                                    <th>Tên chất liệu</th>
                                    <th>Tên thương hiệu</th>
                                    <th>Tên danh mục</th>
                                    <th>Số lượng</th>
                                    <th>Giá</th>
                                    <th class="text-center">Thao tác</th>
                                </tr>
                            </thread>
                            <tbody id="deletedProductsBody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    const shoeList = @Html.Raw(Json.Serialize(ViewBag.GiayList));
    const sizeList = @Html.Raw(Json.Serialize(ViewBag.SizeList));
    const colorList = @Html.Raw(Json.Serialize(ViewBag.ColorList));
    const materialList = @Html.Raw(Json.Serialize(ViewBag.MaterialList));
    const brandList = @Html.Raw(Json.Serialize(ViewBag.BrandList));
    const categoryList = @Html.Raw(Json.Serialize(ViewBag.CategoryList));
</script>
